body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: inline-block;
}

figure > img {
  width: 100%;
  display: block;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  display: inline-block;
  padding: 5px;
}

*[class^='col-'] {
  height: 100%;
}

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-12 {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
}

.container.medium {
  max-width: 1200px;
}

.container.small {
  max-width: 1000px;
}

.button {
  background-color: #0160ff;
  color: white;
  padding: 10px 15px;
}

.main-header_nav {
  margin: 10px;
}

.main-header_list > li {
  margin: 10px 15px;
}

.hero_text {
  font-size: 20px;
  font-weight: 100;
}

.hero_title {
  font-size: 60px;
  margin: 100px 0 50px;
  line-height: 100px;
}

.hero_button {
  margin: 40px 0;
}

.arrow {
  font-size: 50px;
}

.jumbo-img {
  margin-bottom: -150px;
}

.business-plan_content {
  margin-top: 150px;
}

.business-plan_title {
  font-size: 40px;
  font-weight: 600;
}

.business-plan_select {
  width: 400px;
  margin: 50px 0;
}

.business-plan_choice {
  display: inline-block;
}

.business-plan_radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  border: 3px #d6d6d9 solid;
  vertical-align: middle;
}

.business-plan_radio.radio--selected {
  border: 5px #0160ff solid;
}

.card {
  display: flex;
  flex-direction: column;
  
}

.card-category {
  padding: 10px 0;
  width: 100%;
  border: 1px rgba(151, 151, 151, 0.894) solid;
}

.card_title {
  font-size: 25px;
  padding: 10px 0 20px;
}

.card_price {
  font-weight: 800;
  padding-bottom: 20px;
  display: block;
}

.card_price-detail {
  font-weight: 200;
  color: rgba(151, 151, 151, 0.894);
  padding-bottom: 40px;
}

.list--column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card_button {
  padding: 40px 0 30px 0;
}

.card_button > .button{
  padding: 10px 20px;
  width: 100%;
  display: inline-block;
}

.list_item {
  display: flex;
  padding: 20px 0;

}

.icon {
  padding-right: 5px;
}

.card_buy-now {
  padding-bottom: 30px;
}

.card_buy-now > a {
  text-decoration: underline;
  color: blue;
}

.card_body {
  padding: 30px;
  border: 1px rgba(151, 151, 151, 0.894) solid;
}

.card_body.enterprise {
  flex-direction: column;
}

.card_body--enterprise {
  flex-direction: row;
}

hr {
  width: 50px;
  color: rgba(151, 151, 151, 0.63);
  margin-bottom: 50px;
}

.card_body-text {
  padding-left: 10px;
}

.list-title {
  font-weight: 800;
  padding-bottom: 50px;
}

.enterprise {
  display: flex;
  justify-content: space-between;

}

.bg-lightblue {
  background-color: #b3d0e7;
}

/* debug */

.debug .container.large {
  border: 1px orange solid;
}

.debug .container.medium {
  border: 1px #855789 solid;
}

.debug .container.small {
  border: 1px #234567 solid;
}

.debug .main-header {
  border: 1px palevioletred solid;
}

.debug .main-header_content {
  border: 1px black solid;
}

.debug .main-header_list > li {
  border: 1px green solid;
}

.debug .card {
  border: 1px #456789 solid;
}

.debug .card-category {
  border: 1px #765449 solid;
}

.debug .card_title {
  border: 1px #567739 solid;
}

.debug .card_price {
  border: 1px #375024 solid;
}

.debug .card_price-detail {
  border: 1px #102394 solid;
}

.debug .list--column {
  border: 1px #278438 solid;
}