body {
  font-family: 'Roboto', sans-serif;
  width: 1920px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: inline-block;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  display: inline-block;
  padding: 5px;
}

.col-1 {
  flex-basis: calc((100% / 12) * 1);
}

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.container {
  margin: 0 auto;
}

.container.medium {
  width: 1200px;
}

.button {
  background-color: #0160ff;
  color: white;
  padding: 10px 15px;
}

.main-header_nav {
  margin: 10px;
}

.main-header_list > li {
  margin: 10px 15px;
}

.hero_text {
  font-size: 20px;
  font-weight: 100;
}

.hero_title {
  font-size: 60px;
  margin: 100px 0 50px;
  line-height: 100px;
}

.hero_button {
  margin: 40px 0;
}

.arrow {
  font-size: 50px;
}

.jumbo-img {
  margin-bottom: -150px;
}

.bg-lightblue {
  background-color: #B3D0E7;
}

/* debug */

.debug .container.large {
  border: 1px orange solid;
}

.debug .container.medium {
  border: 1px #855789 solid;
}

.debug .main-header {
  border: 1px palevioletred solid;
}

.debug .main-header_content {
  border: 1px black solid;
}

.debug .main-header_list > li {
  border: 1px green solid;
}

.debug .hero_title {
  border: 1px #128741 solid;
}
